/*----RESPONSIVE GRID------*/
.grid-container{
			 width: 100%;
			 max-width: 1200px;
	 }

	 /*-- our cleafix hack -- */
	 .row:before,
	 .row:after {
			 content:"";
			 display: table ;
			 clear:both;
	 }

	 .row {
	 	display: flex;
	 	align-items: center;
	 }

	 [class*='col-'] {
			 float: left;
			 min-height: 1px;
			 width: 16.66%;
			 /*-- our gutter -- */
	 }

	 .col-1{ width: 16.66%; }
	 .col-2{ width: 33.33%; }
	 .col-3{ width: 50%;    }
	 .col-4{ width: 66.66%; }
	 .col-5{ width: 83.33%; }
	 .col-6{ width: 100%;   }

	 .outline, .outline *{
			 outline: 1px solid #F6A1A1;
	 }

	 /*-- some extra column content styling --*/
	 [class*='col-'] > p {
		padding: 0;
		text-align: center;
		color: white;
		vertical-align: middle;
	 }

	 @media all and (max-width:800px){
		.col-1{ width: 33.33%;  }
		.col-2{ width: 50%;     }
		.col-3{ width: 83.33%;  }
		.col-4{ width: 100%;    }
		.col-5{ width: 100%;    }
		.col-6{ width: 100%;    }

		.row .col-2:last-of-type{
				width: 100%;
		}

		.row .col-5 ~ .col-1{
				width: 100%;
		}
	}
@media all and (max-width:650px){
		.col-1{ width: 50%;     }
		.col-2{ width: 100%;    }
		.col-3{ width: 100%;    }
		.col-4{ width: 100%;    }
		.col-5{ width: 100%;    }
		.col-6{ width: 100%;    }
	}
/* -------- Fonts - 	All pages --------- */
		h1 {
			font-family: Tahoma, Verdana, Segoe, sans-serif;
			font-size: 30px;
			font-style: normal;
			font-variant: normal;
			font-weight: 500;
			line-height: 50px;
			letter-spacing: 0.220em;
		}
		h2 {
			font-family: Tahoma, Verdana, Segoe, sans-serif;
			font-size: 26px;
			font-style: normal;
			font-variant: normal;
			font-weight: 500;
			line-height: 54.6px;
			letter-spacing: 0.220em;
		}
		h3 {
			font-family: Tahoma, Verdana, Segoe, sans-serif;
			font-size: 20px;
			font-style: normal;
			font-variant: normal;
			font-weight: 500;
			line-height: 29.4px;
			letter-spacing: 0.220em;
		}
		p {
			font-family: Tahoma, Verdana, Segoe, sans-serif;
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 300;
			line-height: 29.4px;
			letter-spacing: 0.215em;
		}
		a {
			font-family: Tahoma, Verdana, Segoe, sans-serif;
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: 300;
			line-height: 29.4px;
			letter-spacing: 0.210em;
			text-decoration: none;
			color: white;
		}
	/*Body*/
		body{
			margin:0px;
			position: absolute;
			height: 100%;
			width: 100%;
		}

/*-----------------NAVIGATION BAR---------------*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #84676E;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
		text-align: left;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #9A8288;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.menu_container{
	position: fixed;
	display: block;
	padding-bottom: 5px;
	background-color: #5E4A4E;
	color: white;
}
.menu_title a{
	font-size: 26px;
}
/* Menu Button*/
.nav-button{
 position:absolute;
 right:0;
 margin: 10px 20px 10px 10px;
 width: 25px;
 height: 25px;
 background: url("http://localhost:5000/images/menubarnoback.png");
 background-size: 25px 25px;
 border: none;
}
/* header for nav bar*/
header{
	height: 3em;
  line-height: 3em;
  top: 0;
  width: 100%;
  z-index: 10000;
}
header h2{
	display: inline-block;
	height: inherit;
	margin: 0px 0px 0px 10px;
}
.home{
	border-bottom: solid;
	border-bottom-width: 1px;
	margin-left: 10px;
	margin-right: 10px;
}
.aboutme{
	border-bottom: solid;
	border-bottom-width: 1px;
	margin-left: 10px;
	margin-right: 10px;
}
.projects{
	border-bottom: solid;
	border-bottom-width: 1px;
	margin-left: 10px;
	margin-right: 10px;
}
.resume{
	border-bottom: solid;
	border-bottom-width: 1px;
	margin-left: 10px;
	margin-right: 10px;
}
/*-----------------HOME PAGE-------------------*/
.main-content {
	background-image: url("../images/background4.jpg");
	background-size: cover;
  background-position: center;
	background-attachment: fixed;
	height: 100%;
}
/*About me*/
.title{
	color: white;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.title h1{
 font-size: 30px;
 text-shadow: 2px 2px #5E4A4E;
}
.title p{
	color: white;
 font-size: 25px;
 line-height: 30px;
 text-shadow: 2px 2px #5E4A4E;
}
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}
.cta{
	padding: 10px 25px 10px 25px;
	background-color: #5E4A4E;
	color: white;
	margin: 17px;
	border-radius: 10px;
	opacity: 0.0;
  -moz-animation: showCTA 1s ease-in; /* Firefox */
  -webkit-animation: showCTA 1s ease-in; /* Safari and Chrome */
  -ms-animation: showCTA 1s ease-in; /* IE10 */
  -o-animation: showCTA 1s ease-in; /* Opera */
  animation: showCTA 1s ease-in;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}
.cta:hover {
	background-color: #9A8288;
	color: white;
	opacity: 0.8;
}


/*-----------------ABOUT ME-------------------*/
.aboutmepage_container h2{
	text-align: center;
}
.aboutmepage_container p{
	color: #524445;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}
.aboutme_container{
	background-color: white;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 20px;
	color: #524445;
	text-align: center;
}
/*-----------------PROJECTS-------------------*/
#page_wrapper{
	margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
nav a{
	text-decoration: none;
	color: white;
}
nav a:hover{
	color: #524445;
}
.projheadcont{
	background-color: #9A8288;
	color: white;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 120px;
}
.projheadcont p{
	text-align: left;
}
.hideme
{
    opacity:0;
}
#website{
	padding-top: 25px;
	padding-bottom:25px;
	display: inline-block;
	background-color: white;
	color: #524445;
	width: 100%;
	text-align: center;
}
#website p{
	top: 50%;
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
	color: #524445;
	text-align: center;
}
.desktop_info{
	text-align: center;
	background-color: #84676E;
	color: white;
}
.desktop_info p, h3{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
.secondary_info{
	text-align: center;
	background-color: #9A8288;
	color: white;
}
.secondary_info p, h3{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
.bottom_info{
	text-align: center;
	background-color: #84676E;
	color: white;
}
.bottom_info p, h3{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
.mobile_info{
	text-align: center;
	background-color: #9A8288;
	color: white;
}
.mobile_info p{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
.mobile_infob{
	text-align: center;
	background-color: #84676E;
	color: white;
}
.mobile_infob p{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
#email{
	padding-top: 25px;
	padding-bottom: 30px;
	display: inline-block;
	background-color: white;
	color: #524445;
	width: 100%;
	text-align: center;
}
#email p{
	margin-left: 50px;
	margin-right: 50px;
}
.email_info{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #84676E;
	color: white;
}
.email_info p{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
.email_img img{
  box-shadow: 5px 5px 3px #282828;
}
#sms{
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
	background-color: white;
	color: #524445;
	width: 100%;
	text-align: center;
}
#sms p{
	color: #524445;
	margin-left: 50px;
	margin-right: 50px;
}
.sms_info{
	text-align: center;
	background-color: #9A8288;
	color: white;
}
.sms_info p{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
#channel{
	padding-bottom: 30px;
	padding-top: 20px;
	display: inline-block;
	background-color: white;
	color: #524445;
	width: 100%;
	text-align: center;
}
#channel p{
	margin-left: 50px;
	margin-right: 50px;
}
.channel_info{
	padding-bottom: 20px;
	text-align: center;
	background-color: #84676E;
	color: white;
}
.channel_info p{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
	overflow: hidden;
}
.slider{
	max-height: 250px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
	position: absolute;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	position: absolute;
	top: 60%;
	right: 0;
	transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
}
.prev{
	position: absolute;
	top: 60%;
	left: 0;
	transform: translate(0%,-50%);
	-ms-transform: translate(-0%,-50%);
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/*-----------------RESUME-------------------*/
.nav-resume{
	background-color: #9A8288;
	padding: 40px;
}
.resumecontainer{
	background-color: #9A8288;
	padding-top: 80px;
	padding-bottom: 40px;
	text-align: center;
}
/*-----------FOOTERS------------*/
/* Footer */
footer{
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
	background-color: #5E4A4E;
	color: #ffffff;
}
 footer p{
	 font-size: 14px;
	 margin-top: 10px;
 }
 footer a{
	 padding: 10px;
 }
 footer a:hover{
	 color: #9A8288;
 }
 .create{
	 font-size: 10px;
 }


 /* ANIMATIONS */
 @-webkit-keyframes showCTA { /* Chrome, Safari */
    from {opacity:0.0;}
    to {opacity: 1.0}
}
@-moz-keyframes showCTA { /* FF */
    from {opacity:0.0;}
    to {opacity: 1.0}
}
@-ms-keyframes showCTA { /* IE10 */
    from {opacity:0.0;}
    to {opacity: 1.0}
}
@-o-keyframes showCTA { /* Opera */
    from {opacity:0.0;}
    to {opacity: 1.0}
}
@keyframes showCTA {
    from {opacity:0.0;}
    to {opacity: 1.0}
}
